body {background-color: rgb(0, 255, 255);
}
h1{text-align: center;
color: #ff0000;
}
h1 {border-color: rgb(255, 251, 0);
    border-style: dashed;
    border-width: 15px;
 }
h1 {margin-right: 20px;
}
    
#ima1 {width: 75%;
}
#ima2 {width: 75%;
}
h2 {background-color:blue;
}
h2{border-color: darkcyan;
border-style: dashed;
border-width: 20px;
}
h2 {margin-right: 10;
}
h3 {background-color: rgb(87, 210, 30);
}
h3{border-color: forestgreen;
border-style: dashed;
border-width: 20px;
}
h2{margin-right: 10px;
}
h5 {background-color: chocolate;
}
h5{border-color: rgb(158, 168, 12);
    border-style: dashed;
    border-width: 20px;
    }
    h2{margin-right: 10px;
    }

#ima3 {width: 75%;
}
#ima1{border-color:greenyellow;
    border-style: double;
   border-width: 37px;
}

#ima2{border-color: greenyellow;
    border-style: double;
   border-width: 37px;
}

#ima3{border-color: greenyellow;
    border-style: double;
   border-width: 37px;
}

main {background-color: blueviolet;
}
footer {color: rgb(225, 0, 255);
}
head {background-color: rgb(255, 0, 191);}

