body {background-color: darkgrey;
}
h1{text-align: center;
color: #ff0000;
}
#ima1 {width: 100%;
}
#ima2 {width: 100%;
}
h2 {background-color:blue;
}
h3 {background-color: rgb(87, 210, 30);
}
h5 {background-color: chocolate;
}
#ima3 {width: 100%;
}
