body {background-color: darkgrey;
}
h1{text-align: center;
color: #ff0000;
}
#ima1 {width: 75%;
}
#ima2 {width: 75%;
}
h2 {background-color:blue;
}
h3 {background-color: rgb(87, 210, 30);
}
h5 {background-color: chocolate;
}
#ima3 {width: 75%;
}
#ima1{border-color: yellow;
    border-style: double;
   border-width: 37px;
}

#ima2{border-color: lawngreen;
    border-style: double;
   border-width: 37px;
}

#ima3{border-color: rgb(55, 0, 255);
    border-style: double;
   border-width: 37px;
}

h1 {border-color: blueviolet;
border-style: dashed;
border-width: 20px;
}
h1 {margin-right: 40px;
}
